body {
    font-family: Arial;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #003366;
    padding: 20px;
    text-align: center;
}


nav { /* Holds the unordered list ul */
    background-color: #0055a5;
}

nav ul { /* Concerns everything that includes the lists too, the thing that holds the list */
    display: flex; /* flexible display */
    justify-content: center; /* Keeps the content centered */
    list-style: none; /* Removes the bullet points*/
}

nav ul li { /* around each list item, the container that holds the text */
    margin: 10px; /* spacing around each nav item */
}

nav ul li a { /* inside list item, the text itself */
    color: #fff;
    font-weight: bold;
    padding: 20px; /* spacing between each nav item */
}

/* Makes sure items close to it are added below it */
section img {
    display: block;
}

section {
    background: #fff;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* adds awesome shadows */
}

h1, h2 { 
    color: #003366;
    margin-bottom: 10px; /* Adds margin below each h1 and h2 in the website */
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: #0055a5;
    color: #fff;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input {
    margin-top: 10px; /* margin above the text input field */
    padding: 10px; /* the size of the text input field itself */
    border: 1px solid #ccc;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0055a5;
    color: white;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


@media (max-width: 750px) {
  .menu-toggle {
    display: block;
  }
  .nav-links {
    flex-direction: column;
    display: none;
  }
  .nav-links.show {
    display: flex;
  }
}